@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}

@layer utilities {
  .animate-reverse {
    animation-direction: reverse;
  }
  
  .duration-1500 {
    animation-duration: 1500ms;
  }
  
  .duration-2000 {
    animation-duration: 2000ms;
  }
}